
    <div class="card">
      <div class="card-body">
        <form (submit)="submitData($event)">
          <div *ngIf='messageEditErr !== ""' class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{messageEditErr}}</strong>
            <button type="button" class="close" aria-label="Close" (click)='messageEditErr=""'>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!--mensage de alerta acaba aqui-->

          <div *ngIf='messageEditSuccess !== ""' class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{messageEditSuccess}}</strong>
            <button type="button" class="close" aria-label="Close" (click)='messageEditSuccess=""'>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!--Mensagem de Sucesso acaba aqui-->
          <!--Inicio de campos-->
          <div class="form-group">
            <label for="design">Designação</label>
            <input name="design" type="text" class="form-control" placeholder="Designação de objecto" />
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label for="CEARC">Numero de Processo CEARC</label>
                <input name="CEARC" type="text" class="form-control" placeholder="Numero de Processo CEARC" />
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="CEARCdate">Data do processo CEARC</label>
                <input name="CEARCdate" type="date" class="form-control" placeholder="Data de processo Cearc" />
              </div>

            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="CEARCentrydate">Data de entrada do processo CEARC</label>
                <input name="CEARCentrydate" type="date" class="form-control"
                  placeholder="Data de Entrada do processo CEARC" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label for="LCRM">Numero de Processo LCRM</label>
                <input name="LCRM" type="text" class="form-control" placeholder="Numero de Processo LCRM" />
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="LCRMdate">Data de processo LCRM</label>
                <input name="LCRMdate" type="date" class="form-control" placeholder="Numero de Processo LCRM" />
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="LCRMentrydate">Data de entrada do processo LCRM</label>
                <input name="LCRMentrydate" type="date" class="form-control" placeholder="Numero de Processo LCRM" />
              </div>
            </div>
          </div>
          <div class="form-group">
              <label for="coordinator">Coordenador</label>
              <select name="coordinator" class="form-control" >
                <option value="" selected disabled hidden>Selecione o coordenador</option>
                <option *ngFor="let u of _users" value="{{u.id}}">{{u.full_name}}</option>
              </select>
            </div>

          <div class="form-group">
              <button type="submit" class="btn btn-outline-success form-control">Criar <i
                    class="fa fa-file"></i></button>
          </div>
          <!--Fim de campos-->
        </form>
      </div>
    </div>
