.nav-tabs > li > a {
  border-color:grey;
  background-color: #fff;
  border-bottom-color: #fff;
}

.nav-tabs > li > a:hover {
  background-color: #303136;
  border: medium none;
  //border-radius: 0;
  color: #fff;
}
