<div class="card">
  <div class="card-body">

    <form (submit)="submitData($event)">
      <div *ngIf='messageEditErr !== ""' class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{messageEditErr}}</strong>
        <button type="button" class="close" aria-label="Close" (click)='messageEditErr=""'>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--mensage de alerta acaba aqui-->

      <div *ngIf='messageEditSuccess !== ""' class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{messageEditSuccess}}</strong>
        <button type="button" class="close" aria-label="Close" (click)='messageEditSuccess=""'>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Mensagem de Sucesso acaba aqui-->
      <!--Inicio de campos-->
      <div class="form-group">
        <label for="design">Designação</label>
        <input name="design" type="text" class="form-control" placeholder="Designação de objecto" />
      </div>
      <div class="form-group">
        <label for="CEARC">Numero de Processo CEARC</label>
        <input name="CEARC" type="text" class="form-control" placeholder="Numero de Processo CEARC" />
      </div>
      <div class="form-group">
        <label for="CEARCdate">Data do processo CEARC</label>
        <input name="CEARCdate" type="date" class="form-control" placeholder="Data de processo Cearc" />
      </div>
      <div class="form-group">
        <label for="CEARCentrydate">Data de entrada do processo CEARC</label>
        <input name="CEARCentrydate" type="date" class="form-control" placeholder="Data de Entrada do processo CEARC" />
      </div>
      <div class="form-group">
        <label for="LCRM">Numero de Processo LCRM</label>
        <input name="LCRM" type="text" class="form-control" placeholder="Numero de Processo LCRM"
         />
      </div>
      <div class="form-group">
        <label for="LCRMdate">data de processo LCRM</label>
        <input name="LCRMdate" type="date" class="form-control" placeholder="Numero de Processo LCRM" />
      </div>
      <div class="form-group">
        <label for="LCRMentrydate">data de entrada do processo LCRM</label>
        <input name="LCRMentrydate" type="date" class="form-control" placeholder="Numero de Processo LCRM" />
      </div>
      <div class="form-group">
        <label for="coordinator">Coordenador</label>
        <input name="coordinator" type="number" class="form-control" placeholder="Numero de Processo LCRM" />
      </div>

      <div class="form-group">
        <div class="row">
          <button type="submit" class="btn btn-outline-success col-md-8 mr-md-2 ml-3 mr-3 mb-2 mb-md-0">Criar <i class="fa fa-file"></i></button>

        </div>
      </div>
      <!--Fim de campos-->
    </form>
  </div>
</div>