<h5 class="mt-2 mb-4">
  Intervenções Anteriores
</h5>

<p class="text-muted">Intervenções ao longo da história do objeto, anteriores
   à intervenção no Laboratório de Conservação e Restauro-Madeiras</p>

<fieldset class="border p-2">
  <div class="form-group row">
    <label for="support_previous" class="col-lg-2 col-form-label">Estrutura</label>
    <div class="col-lg-10">
      <textarea class="form-control" id="support_previous" rows="3" [readonly]="!_isEditing"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="surface_previous" class="col-lg-2 col-form-label">Superfície</label>
    <div class="col-lg-10">
      <textarea class="form-control" id="surface_previous" rows="3" [readonly]="!_isEditing"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="elements_previous" class="col-lg-2 col-form-label">Elementos Acessórios</label>
    <div class="col-lg-10">
      <textarea class="form-control" id="elements_previous" rows="3" [readonly]="!_isEditing"></textarea>
    </div>
  </div>
</fieldset>
<br />
<div class="form-group row">
  <label for="previous_conclusions" class="col-lg-2 col-form-label">Observações | Conclusões</label>
  <div class="col-lg-10">
    <textarea class="form-control" id="previous_conclusions" rows="3" [readonly]="!_isEditing"></textarea>
  </div>
