<h5 class="mt-2 mb-4">
  Condições Ambientais do local de inserção do Bem Cultural
</h5>

<div class="form-group row">
  <label for="envDescription" class="col-lg-2 col-form-label">Descrição do local</label>
  <div class="col-lg-10">
    <textarea class="form-control" name="site_description" id="site_description" rows="3" [readonly]="!_isEditing" [value]="_datasheet?.site_description"></textarea>
  </div>
</div>

<fieldset class="border p-2">
  <legend class="w-auto">Ciclos das Estações Climatéricas Anuais</legend>
  <div class="row text-center">
    <div class="col-lg-4">
      <label></label>
    </div>
    <div class="col-lg-4">
      <label>Frio/Húmido</label>
    </div>
    <div class="col-lg-4">
      <label>Quente/seco</label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <label>Temperatura (Valores Médios em ºC)</label>
    </div>
    <div class="col-lg-4">
      <input name="cold_temp" id="cold_temp" type="number" class="form-control" placeholder="" [readonly]="!_isEditing"  [value]="_datasheet?.cold_temp"/>
    </div>
    <div class="col-lg-4">
      <input name="hot_temp" id="hot_temp" type="number" class="form-control" placeholder="" [readonly]="!_isEditing"  [value]="_datasheet?.hot_temp"/>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <label>Humidade Relativa (Valores Médios em %)</label>
    </div>
    <div class="col-lg-4">
      <input name="cold_humidity" id="cold_humidity" type="number" class="form-control" placeholder="" [readonly]="!_isEditing" [value]="_datasheet?.cold_humidity" />
    </div>
    <div class="col-lg-4">
      <input name="hot_humidity" id="hot_humidity" type="number" class="form-control" placeholder="" [readonly]="!_isEditing"  [value]="_datasheet?.hot_humidity"/>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <label>Período do Ano
        (Início / Fim – em meses)</label>
    </div>
    <div class="col-lg-4 d-flex">
      <div class="flex-grow-1">
        <select class="form-control" name="cold_start" id="cold_start" [disabled]='!_isEditing' [value]="_datasheet?.cold_start">
          <option selected>Seleccione</option>
          <option value="1">Janeiro</option>
          <option value="2">Fevereiro</option>
          <option value="3">Março</option>
          <option value="4">Abril</option>
          <option value="5">Maio</option>
          <option value="6">Junho</option>
          <option value="7">Julho</option>
          <option value="8">Agosto</option>
          <option value="9">Setembro</option>
          <option value="10">Outubro</option>
          <option value="11">Novembro</option>
          <option value="12">Dezembro</option>
        </select>
      </div>
      <div class="align-self-center">&ensp;/&ensp;</div>
      <div class="flex-grow-1">
        <select class="form-control" name="cold_end" id="cold_end" [disabled]='!_isEditing' [value]="_datasheet?.cold_end">
          <option selected>Seleccione</option>
          <option value="1">Janeiro</option>
          <option value="2">Fevereiro</option>
          <option value="3">Março</option>
          <option value="4">Abril</option>
          <option value="5">Maio</option>
          <option value="6">Junho</option>
          <option value="7">Julho</option>
          <option value="8">Agosto</option>
          <option value="9">Setembro</option>
          <option value="10">Outubro</option>
          <option value="11">Novembro</option>
          <option value="12">Dezembro</option>
        </select>
      </div>
    </div>
    <div class="col-lg-4 d-flex">
      <div class="flex-grow-1">
        <select class="form-control" name="hot_start" id="hot_start" [disabled]='!_isEditing' [value]="_datasheet?.hot_start">
          <option selected>Seleccione</option>
          <option value="1">Janeiro</option>
          <option value="2">Fevereiro</option>
          <option value="3">Março</option>
          <option value="4">Abril</option>
          <option value="5">Maio</option>
          <option value="6">Junho</option>
          <option value="7">Julho</option>
          <option value="8">Agosto</option>
          <option value="9">Setembro</option>
          <option value="10">Outubro</option>
          <option value="11">Novembro</option>
          <option value="12">Dezembro</option>
        </select>
      </div>
      <div class="align-self-center">&ensp;/&ensp;</div>
      <div class="flex-grow-1">
        <select class="form-control" name="hot_end" id="hot_end" [disabled]='!_isEditing' [value]="_datasheet?.hot_end">
          <option selected>Seleccione</option>
          <option value="1">Janeiro</option>
          <option value="2">Fevereiro</option>
          <option value="3">Março</option>
          <option value="4">Abril</option>
          <option value="5">Maio</option>
          <option value="6">Junho</option>
          <option value="7">Julho</option>
          <option value="8">Agosto</option>
          <option value="9">Setembro</option>
          <option value="10">Outubro</option>
          <option value="11">Novembro</option>
          <option value="12">Dezembro</option>
        </select>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="border p-2">
  <legend class="w-auto">Radiação | Iluminação</legend>
  <div class="container o-hidden">
    <div class="row">
      <div class="col-6 col-lg-1">
        <div class="rotate-lg-l-90">
          <label class="vertical">Natural</label>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="form-group row">
          <label for="lightning_type_natural" class="col-lg-3 col-form-label">Tipo</label>
          <div class="col-lg-9">
            <input name="lightning_type_natural" id="lightning_type_natural" type="text" class="form-control" placeholder="" [readonly]="!_isEditing" [value]="_datasheet?.lightning_type_natural" />
          </div>
        </div>
        <div class="form-group row">
          <label for="natural_lux" class="col-lg-7 col-form-label">Valor de Iluminância (lux)</label>
          <div class="col-lg-5">
            <input name="natural_lux" id="natural_lux" type="number" class="form-control" placeholder="" [readonly]="!_isEditing"  [value]="_datasheet?.natural_lux"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="natural_uv" class="col-lg-7 col-form-label">Valor de U.V. Medidos (µw/cm2)</label>
          <div class="col-lg-5">
            <input name="natural_uv" id="natural_uv" type="number" class="form-control" placeholder="" [readonly]="!_isEditing"  [value]="_datasheet?.natural_uv"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="natural_real_uv" class="col-lg-7 col-form-label">Valor Real de U.V. (µw/cm2)</label>
          <div class="col-lg-5">
            <input name="natural_real_uv" id="natural_real_uv" type="number" class="form-control" placeholder="" [readonly]="!_isEditing"  [value]="_datasheet?.natural_real_uv"/>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-1">
        <div class="rotate-lg-l-90">
          <label class="vertical">Artificial</label>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="form-group row">
          <label for="lightning_origin_artificial" class="col-lg-3 col-form-label">Tipo</label>
          <div class="col-lg-9">
            <input name="lightning_origin_artificial" id="lightning_origin_artificial" type="text" class="form-control" placeholder=""
              [readonly]="!_isEditing" [value]="_datasheet?.lightning_origin_artificial" />
          </div>
        </div>
        <div class="form-group row">
          <label for="artificial_lux" class="col-lg-7 col-form-label">Valor de Iluminância (lux)</label>
          <div class="col-lg-5">
            <input name="artificial_lux" id="artificial_lux" type="number" class="form-control" placeholder="" [readonly]="!_isEditing" [value]="_datasheet?.artificial_lux" />
          </div>
        </div>
        <div class="form-group row">
          <label for="artificial_uv" class="col-lg-7 col-form-label">Valor de U.V. Medidos (µw/cm2)</label>
          <div class="col-lg-5">
            <input name="artificial_uv" id="artificial_uv" type="number" class="form-control" placeholder="" [readonly]="!_isEditing" [value]="_datasheet?.artificial_uv" />
          </div>
        </div>
        <div class="form-group row">
          <label for="artificial_real_uv" class="col-lg-7 col-form-label">Valor Real de U.V. (µw/cm2)</label>
          <div class="col-lg-5">
            <input name="artificial_real_uv"  id="artificial_real_uv" type="number" class="form-control" placeholder="" [readonly]="!_isEditing"  [value]="_datasheet?.artificial_real_uv"/>
          </div>
        </div>
      </div>
    </div>
  </div>

</fieldset>

<fieldset class="border p-2">
  <legend class="w-auto">Poluição</legend>
  <div class="form-group row">
    <label for="poluting_agents" class="col-lg-2 col-form-label">Agentes Poluidores</label>
    <div class="col-lg-10">
      <textarea class="form-control" name="poluting_agents" id="poluting_agents" rows="3" [readonly]="!_isEditing" [value]="_datasheet?.poluting_agents"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="poluting_sources" class="col-lg-2 col-form-label">Fontes | Origem</label>
    <div class="col-lg-10">
      <textarea class="form-control" name="poluting_sources" id="poluting_sources" rows="3" [readonly]="!_isEditing" [value]="_datasheet?.poluting_sources"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="poluting_results" class="col-lg-2 col-form-label">Resultados</label>
    <div class="col-lg-10">
      <textarea class="form-control" name="poluting_results" id="poluting_results" rows="3" [readonly]="!_isEditing" [value]="_datasheet?.poluting_results"></textarea>
    </div>
  </div>
</fieldset>
<br />
<div class="form-group row">
  <label for="env_conclusions" class="col-lg-2 col-form-label">Observações | Conclusões</label>
  <div class="col-lg-10">
    <textarea class="form-control" name="env_conclusions" id="env_conclusions" rows="3" [readonly]="!_isEditing" [value]="_datasheet?.env_conclusions"></textarea>
  </div>
</div>
