<div class="card">
  <div class="card-body">
    <form (submit)="registerUser($event)">
      <h3>Registar Utilizador</h3>
      <div *ngIf='messageErr !== ""' class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{messageErr}}</strong>
          <button type="button" class="close" aria-label="Close" (click)='messageErr=""'>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf='messageSuccess !== ""' class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{messageSuccess}}</strong>
          <button type="button" class="close" aria-label="Close" (click)='messageSuccess=""'>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <div class="form-group">
        <label for="email">Email</label>      
        <input name="email" type="email" class="form-control" placeholder="Nome"/>
      </div>
      <div class="form-group">
          <label for="full_name">Nome</label>      
          <input name="full_name" type="text" class="form-control" placeholder="Nome"/>
      </div>
      <div class="form-group">
        <label for="address">Morada</label>      
        <input name="address" type="text" class="form-control" placeholder="Morada"/>
      </div>
      <div class="form-group">
        <label for="birthday">Data de Nascimento</label>   
        <input name="birthday" type="date" class="form-control" placeholder="Data de Nascimento"/>
      </div>
      <div class="form-group">
        <label for="cellphone">Número de telemóvel</label>   
        <input name="cellphone" type="text" class="form-control" placeholder="Número de telemóvel"/>
      </div>
      <div class="form-group">
        <label for="qualifications">Qualificações</label>   
        <input name="qualifications" type="text" class="form-control" placeholder="Qualificações"/>
      </div>
      <div class="form-group">
        <label for="title">Título</label> 
        <input name="title" type="text" class="form-control" placeholder="Título"/>
      </div>
      <div class="form-group">
        <label for="id_type_user">Tipo de Utilizador</label> 
        <select name="id_type_user" class="form-control">
          <option *ngFor="let ut of _usersTypes" value="{{ut.id}}">{{ut.name}}</option>
        </select>
      </div>
      <div class="row">
          <div class="form-group col-md mr-0 ml-0">
            <label for="passwordNew">Palavra-chave</label> 
            <div class="input-group sh_password">
              <input name="passwordNew" type="password" class="form-control" placeholder="Palavra-chave Nova" #passwordNew />
              <div class="input-group-append">
                <button (click)="randomPW()" class="btn btn-outline-warning" type="button"><i class="fa fa-random" aria-hidden="true"></i></button>
                <button class="btn btn-outline-secondary sh_bt" type="button"><i class="fa fa-eye" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
          <div class="form-group col-md mr-0 ml-0">
            <label for="passwordNewConf">Confirmar Palavra-chave</label> 
            <div class="input-group sh_password">
              <input name="passwordNewConf" type="password" class="form-control" placeholder="Confirmar Palavra-chave Nova" #passwordNewConf />
              <div class="input-group-append">
                <button (click)="randomPW()" class="btn btn-outline-warning" type="button"><i class="fa fa-random" aria-hidden="true"></i></button>
                <button class="btn btn-outline-secondary sh_bt" type="button"><i class="fa fa-eye" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
      <div class="form-group">
          <button type="submit" class="btn btn-outline-success col-md">Registar</button>
      </div>
    </form>
  </div>
</div>