body {
	background-color: lightblue;
	
}

h1 {

  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
#loginDiv{
	
	display: flex;
	align-items: center;
	justify-content:center;
	flex-direction:column;
}