<h5 class="mt-2 mb-4">
  Estado de Conservação
</h5>

<fieldset class="border p-2">
  <legend class="w-auto">Deterioração Física, Química e Mecânica dos Materiais</legend>
  Alterabilidade: decorrente de envelhecimento natural<br />
Alteração: decorrente de fatores físicos, químicos, biológicos e antrópicos<br /><br />
  <div class="form-group row">
    <label for="support_deterioration" class="col-lg-2 col-form-label">Estrutura</label>
    <div class="col-lg-10">
      <textarea class="form-control" id="support_deterioration" rows="3" [readonly]="!_isEditing"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="surface_deterioration" class="col-lg-2 col-form-label">Superfície</label>
    <div class="col-lg-10">
      <textarea class="form-control" id="surface_deterioration" rows="3" [readonly]="!_isEditing"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="elements_deterioration" class="col-lg-2 col-form-label">Elementos Acessórios</label>
    <div class="col-lg-10">
      <textarea class="form-control" id="elements_deterioration" rows="3" [readonly]="!_isEditing"></textarea>
    </div>
  </div>
</fieldset>

<fieldset class="border p-2">
    <legend class="w-auto">Deterioração Biológica dos Materiais</legend>
    Identificação de Patologias e Agentes de Biodeterioração – Diagnóstico<br /><br />
    <div class="form-group row">
      <label for="support_diagnostic" class="col-lg-2 col-form-label">Estrutura</label>
      <div class="col-lg-10">
        <textarea class="form-control" id="support_diagnostic" rows="3" [readonly]="!_isEditing"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="surface_diagnostic" class="col-lg-2 col-form-label">Superfície</label>
      <div class="col-lg-10">
        <textarea class="form-control" id="surface_diagnostic" rows="3" [readonly]="!_isEditing"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="elements_diagnostic" class="col-lg-2 col-form-label">Elementos Acessórios</label>
      <div class="col-lg-10">
        <textarea class="form-control" id="elements_diagnostic" rows="3" [readonly]="!_isEditing"></textarea>
      </div>
    </div>
  </fieldset>
  <br />
<div class="form-group row">
  <label for="state_conclusions" class="col-lg-2 col-form-label">Observações | Conclusões</label>
  <div class="col-lg-10">
    <textarea class="form-control" id="state_conclusions" rows="3" [readonly]="!_isEditing"></textarea>
  </div>
