<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Brandi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li *ngIf='auth.isAuthenticated()' class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDatasheet" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Fichas Técnicas
        </a>
        <div class="dropdown-menu" zaria-labelledby="navbarDropdownDatasheet">
          <a class="dropdown-item" routerLink="/datasheet/create" >Criar fichas técnicas</a>
          <a class="dropdown-item" routerLink="/datasheet" >Lista de fichas técnicas</a>
        </div>
      </li>
      <li *ngIf='auth.isAdmin()' class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
          <a class="dropdown-item" routerLink="/admin/user/list">Listar Utilizadores</a>
          <a class="dropdown-item" routerLink="/admin/user/register" >Registar Utilizador</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/admin/categories">Categorias</a>
        </div>
      </li>
    </ul>
      <a *ngIf="!auth.isAuthenticated(); else logoutbt" class="btn btn-outline-success" routerLink="/login">Login <i class="fa fa-connectdevelop"></i></a>
      <ng-template #logoutbt>
        <a class="btn btn-outline-primary mr-lg-2"  routerLink="/user/details"> Ola, {{auth.user_full_name}}!</a>
        <a class="btn btn-outline-success" (click)="logout()" href="#" >Logout <i class="fa fa-power-off"> </i></a>
      </ng-template>
  </div>
</nav>

<div class="container mainContainer">
  <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
</div>
