

#navbar {
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    z-index: 1000;
}


.mainContainer {
    padding-bottom: 20px;
    max-width: 100%;
    margin:auto;
}

@media screen and (min-width: 600px){
    .mainContainer {
        max-width: 90%;
    }
}