

#navbar {
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    z-index: 1000;
}

#footer {
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border-radius:5px;
    img{
        height: 50px;
    }
}

.mainContainer {
    padding-bottom: 20px;
    max-width: 100%;
    margin:auto;
}

.d-m-flex {
    display: flex;
}

@media screen and (min-width: 600px){
    .mainContainer {
        max-width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .d-m-flex {
        display: block;
    }
}