
<div class="row">
  <div class="col-lg-6 form-group">
    <label for="SuperCathegory">Super-Categoria</label>
    <select class="form-control"></select>
  </div>
  <div class="col-lg-6 form-group">
    <label for="Cathegory">Categoria</label>
    <select class="form-control"></select>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 form-group">
    <label for="subCathegory">Sub-Categoria</label>
    <select class="form-control"></select>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 form-group">
    <label for="Dimensions">Dimensões</label>
    <input name="Dimensions" type="text" class="form-control" placeholder="(Comp. X Prof. X Alt.) | (Diâmetro)" />
  </div>
  <div class="col-lg-6 form-group">
    <label for="OtherDimensions">Outras dimensões</label>
    <input name="OtherDimensions" type="text" class="form-control" placeholder="" />
  </div>
</div>
<div class="form-group">
  <label for="tipology">Tipologia</label>
  <input name="tipology" type="text" class="form-control" placeholder="" />
</div>
<div class="form-group">
  <label for="site">Localização</label>
  <input name="site" type="text" class="form-control" placeholder="Localização" />
</div>
<hr>
<div class="form-group">
  <label for="owner">Proprietário</label>
  <select class="form-control"></select>
</div>
<div class="form-group">
  <label for="objectOwner">Dono da Obra</label>
  <select class="form-control"></select>
</div>
<div class="row">
  <div class=" col-lg-6 form-group">
    <label for="patron">Mecenas</label>
    <select class="form-control"></select>
  </div>
  <div class="col-lg-6 form-group">
    <label for="patron">&nbsp;</label>
    <button type="button" class="form-control btn btn-outline-success">Adicionar contacto <i class="fa fa-file"></i></button>
  </div>
</div>