<!DOCTYPE html>
<html lang="en-US">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"><!--bootstrap sacar ficheiro daqui a uns tempos e mudar de link para caminho-->
		<link rel="stylesheet" type="text/css" href="../css/app.css"><!-- sempre -->
		<link rel="stylesheet" type="text/css" href="css/sig.css">
		
		<title>SIGNIN</title>
	</head>
	<body>
		<script src="../lib/angular.min.js"></script><!-- sempre -->
		<script src="../js/app.js"></script><!-- sempre -->
		<div id="signDiv" class="divCentrado">
		<form ng-app="brandic" ng-controller="signInCtrl"  onsubmit="return false;">
			<h1>Sign In Page</h1>
			<span id="mensagem">{{mensagem}}</span><br>
				<table>
					<tr>
				<th> Email:</th><th> <input type="text" name="email" id="email" ng-model="email"></th>
					</tr>
					<tr>
				<th>Password:</th><th><input type="password" name="password" id="password" ng-model="password"></th>
					</tr>
					<tr>
				<th>Nome:</th><th><input type="text" name="fullname" id="fullname" ng-model="fullname"></th>
					</tr>
					<tr>
					<th>Birthday:</th><th><input class="smallcamp"  type="text" name="bday" id="bday" ng-model="bday">
							<input class="smallcamp"  type="number" max="12" name="bmonth" id="bmonth" ng-model="bmonth">
							<input class="smallcamps"  type="text" name="byear" id="byear" ng-model="byear"><span class="noteSp">dd-mm-aaaa</span></th>
					</tr>
					<tr>
						<th>Cellphone:</th><th><input type="number" name="cellphone" id="cellphone" ng-model="cellphone" max="999999999" min="900000000"><span  class="noteSp">9XXXXXXXX</span></th>
					</tr>
				<tr>
					<th>Usertypeid:</th><th><input type="text" name="usertypeid" id="usertypeid" ng-model="usertypeid"></th>
				</tr>
				</table>
				<center><br><button type="submit" ng-click="signIn()"> Sign In</button></center><br><br>
				<!--{{email+" "+password+" "+ fullname+" "+bday+"-"+bmonth+"-"+byear+" "+ cellphone+" "+usertypeid}}-->
		  
		</form>
		</div>
		
		
		<script src="js/sig.js"></script>
    </body>
</html>