<!DOCTYPE html>
<html lang="en-US">
	<head>
		<link rel="stylesheet" type="text/css" href="../css/lg.css"><!-- sempre -->
		<link rel="stylesheet" type="text/css" href="css/lg.css">
	</head>
	<body>
		<script src="../lib/angular.min.js"></script><!-- sempre -->
		<script src="../js/app.js"></script><!-- sempre -->
		<div ng-app="brandic" ng-controller="loginCtrl">
				<p id="mensagem">{{mensagem}}</p>
				Login: <input type="text" name="email" id="email" ng-model="email"><br>
				Password:<input type="password" name="password" id="password" ng-model="password"><br>
				<button ng-click="login()"> Login</button><br>
				{{email+" "+password}}
		  
		</div>
		<script src="js/lg.js"></script>
    </body>
</html>