<!DOCTYPE html>
<html lang="en-US">
	<head>
		<link rel="stylesheet" type="text/css" href="../css/app.css"><!-- sempre -->
		<link rel="stylesheet" type="text/css" href="css/lg.css">
		<title>LOGIN</title>
	</head>
	<body>
		<script src="../lib/angular.min.js"></script><!-- sempre -->
		<script src="../js/app.js"></script><!-- sempre -->
		
		<center><h1>Login Page</h1></center>
			<form ng-app="brandic" ng-controller="loginCtrl" id="loginDiv" onsubmit="return false;">
				<span id="mensagem">{{mensagem}}</span><br>
				<table>
					<tr>
						<th>Email: </th><th><input type="text" name="email" id="email" ng-model="email"></th>
					</tr>
					<tr>
						<th>Password:</th><th><input type="password" name="password" id="password" ng-model="password"></th>
					</tr>
				</table>
				<button ng-click="login()"> Login</button><br>
				<!--{{email+" "+password}}-->
		  
			</form>
			
		<script src="js/lg.js"></script>
    </body>
</html>