<nav class="navbar navbar-expand-lg navbar-light bg-light" ng-controller="menuController">
	<a class="navbar-brand" href="/">Brandi</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbar">
		<ul class="navbar-nav mr-auto">
			<div id="adminMenu"></div>
		</ul>
		<span id="navbarmenu"></span>
	</div>
</nav>