<div class="card">
  <div class="card-body">
      <form (submit)="searchFichas($event)">
        <div class="input-group mb-3 ">
          <input type="text" name="searchBox" class="form-control" placeholder="Pesquisar por" value="{{_searchWord}}"
            aria-label="Pesquisar por">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit"><i class="fa fa-search"></i> Pesquisar</button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-3 mb-4" *ngFor="let u of _datasheetlist">
          <div class="card datasheetClick" (click)="openFicha(u.id)">
            <div style="height: 250px;min-height: 250px;max-height: 250px;" class="d-flex flex-column justify-content-center">
              <img src="/api/datasheet/get_image/{{u.id}}/{{u.image}}" class="card-img-top" style="max-height: 250px;">
            </div>
            <div class="card-body">
              <p class="card-title">{{u.object_designation}}</p>
            </div>
          </div>
        </div>
        <div *ngIf="_datasheetlist?.length === 0" style="text-align: center;" class="w-100 mt-2">
          <h5>Não existem objetos, crie um objeto primeiro.</h5>
        </div>
      </div>
  </div>
</div>
