<div class="card">
  <div class="card-body">
      <form (submit)="searchFichas($event)">
        <div class="input-group mb-3 ">
          <input type="text" name="searchBox" class="form-control" placeholder="Pesquisar por" value="{{_searchWord}}"
            aria-label="Pesquisar por">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit"><i class="fa fa-search"></i> Pesquisar</button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-3 mb-4" *ngFor="let u of _datasheetlist">
          <div class="card datasheetClick" (click)="openFicha(u.id)">
            <img src="../../assets/images/background_texture.jpg" class="card-img-top">
            <div class="card-body">
              <p class="card-title">{{u.object_designation}}</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
