<div class="row">
  <div class="col-lg-6 form-group">
    <label for="Dimensions">Dimensões</label>
    <input name="dimensions" type="text" class="form-control" placeholder="(Comp. X Prof. X Alt.) | (Diâmetro)"
      [readonly]="!_isEditing" [value]="_datasheet?.dimensions" />
  </div>
  <div class="col-lg-6 form-group">
    <label for="OtherDimensions">Outras dimensões</label>
    <input name="other_dimensions" type="text" class="form-control" placeholder="" [readonly]="!_isEditing"  [value]="_datasheet?.other_dimensions"/>
  </div>
</div>
<div class="form-group">
  <label for="tipology">Tipologia</label>
  <input name="tipology" type="text" class="form-control" placeholder="" [readonly]="!_isEditing"  [value]="_datasheet?.tipology"/>
</div>
<div class="form-group">
  <label for="site">Localização</label>
  <input name="site" type="text" class="form-control" placeholder="Localização" [readonly]="!_isEditing"  [value]="_datasheet?.site" />
</div>
<hr>
<div class="row">
  <div class="form-group col-lg-6">
    <label for="owner">Proprietário</label>
    <select name="owner" class="form-control" [disabled]='!_isEditing'  [value]="_datasheet?.owner"></select>
  </div>
  <div class="form-group col-lg-6">
    <label for="objectOwner">Dono da Obra</label>
    <select name="object_owner" class="form-control" [disabled]='!_isEditing'  [value]="_datasheet?.object_owner"></select>
  </div>
</div>
<div class="row">
  <div class=" col-lg-6 form-group">
    <label for="patron">Mecenas</label>
    <select name="patron" class="form-control" [disabled]='!_isEditing'  [value]="_datasheet?.patron">
    <option value="" selected disabled hidden>Utilizador Eliminado</option>
    <option *ngFor="let u of _contacts" value="{{u.id}}">{{u.full_name}}</option>
  </select>
   
  </div>
  <div class="col-lg-6 form-group">
    <label for="patron">&nbsp;</label>
    <button type="button" class="form-control btn btn-outline-success" [disabled]='!_isEditing'>Adicionar contacto <i
        class="fa fa-file"></i></button>
  </div>
</div>
