<h5 class="mt-2 mb-4">
  Proposta de Intervenção
</h5>

<fieldset class="border p-2">
  <legend class="w-auto">Vontade expressa do Proprietário/Dono da Obra
  </legend>

  <div class="form-group">
    <label>Tipo de Intervenção:</label>
    <div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox"  [disabled]="!_isEditing" [checked]="_datasheet?.owner_preserve == '1'"  name="owner_preserve" id="owner_preserve">
        <label class="form-check-label" for="owner_preserve">Preservação</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox"  [disabled]="!_isEditing" [checked]="_datasheet?.owner_conserve  == '1'" name="owner_conserve" id="owner_conserve">
        <label class="form-check-label" for="owner_conserve">Conservação</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox"  [disabled]="!_isEditing"  [checked]="_datasheet?.owner_restaure  == '1'"  name="owner_restaure" id="owner_restaure">
        <label class="form-check-label" for="owner_restaure">Restauro</label>
      </div>
    </div>
  </div>

  <div class="form-group>">
    <div class="form-group row">
      <label for="support_deterioration" class="col-lg-2 col-form-label">Aspectos Específicos</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" [readonly]="!_isEditing" [value]="_datasheet?.specific_aspects"  name="specific_aspects" id="specific_aspects"></textarea>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="border p-2">
  <legend class="w-auto">Intervenção proposta pelo Conservador-Restaurador
  </legend>

  <div class="form-group">
    <label>Tipo de Intervenção:</label>
    <div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox"  [disabled]="!_isEditing" [checked]="_datasheet?.prop_preserve  == '1'"   name="prop_preserve" id="prop_preserve">
        <label class="form-check-label" for="prop_preserve">Preservação</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox"  [disabled]="!_isEditing" [checked]="_datasheet?.prop_conserve   == '1'"   name="prop_conserve" id="prop_conserve">
        <label class="form-check-label" for="prop_conserve">Conservação</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox"  [disabled]="!_isEditing" [checked]="_datasheet?.prop_restaure    == '1'"   name="prop_restaure" id="prop_restaure">
        <label class="form-check-label" for="prop_restaure">Restauro</label>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="border p-2">
  <legend class="w-auto">Proposta Metodológica de Intervenção</legend>

  <div class="row">
    <div class="form-group col-lg-7">
      <label for="support_proposal ">Estrutura</label>
      <textarea class="form-control"  rows="3" [readonly]="!_isEditing" [value]="_datasheet?.support_proposal"  name="support_proposal" id="support_proposal"></textarea>
    </div>
    <div class="form-group col-lg-5">
      <label for="support_resources">Recursos (Materiais | Técnicos | Tecnológicos)
      </label>
      <textarea class="form-control" rows="3" [readonly]="!_isEditing" [value]="_datasheet?.support_resources"  name="support_resources" id="support_resources"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-7">
      <label for="surface_proposal ">Superfície</label>
      <textarea class="form-control" rows="3" [readonly]="!_isEditing"[value]="_datasheet?.surface_proposal"  name="surface_proposal" id="surface_proposal"></textarea>
    </div>
    <div class="form-group col-lg-5">
      <label for="surface_resources ">Recursos (Materiais | Técnicos | Tecnológicos)
      </label>
      <textarea class="form-control"rows="3" [readonly]="!_isEditing" [value]="_datasheet?.surface_resources"  name="surface_resources" id="surface_resources"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-7">
      <label for="elements_proposal">Elementos Acessórios</label>
      <textarea class="form-control"rows="3" [readonly]="!_isEditing" [value]="_datasheet?.elements_proposal"  name="elements_proposal" id="elements_proposal"></textarea>
    </div>
    <div class="form-group col-lg-5">
      <label for="elements_resources">Recursos (Materiais | Técnicos | Tecnológicos)
      </label>
      <textarea class="form-control" rows="3" [readonly]="!_isEditing" [value]="_datasheet?.elements_resources"  name="elements_resources" id="elements_resources"></textarea>
    </div>
  </div>
</fieldset>
<br />
<div class="form-group row">
  <label for="observations" class="col-lg-2 col-form-label">Observações | Conclusões</label>
  <div class="col-lg-10">
    <textarea class="form-control" rows="3" [readonly]="!_isEditing" [value]="_datasheet?.observations"  name="observations" id="observations"></textarea>
  </div>
</div>

<fieldset _ngcontent-iia-c9="" class="border p-2">
  <legend _ngcontent-iia-c9="" class="w-auto">Interlocutores do Processo</legend>
  <div class="form-group row">
    <div class="form-group col-lg-6">
      <label for="ipt_intervinient">I.P.T</label>
      <select name="ipt_intervinient"  id="ipt_intervinient" class="form-control" [disabled]='!_isEditing'>
        <option value="" selected disabled hidden>Utilizador Eliminado</option>
        <option *ngFor="let u of _users" [value]="u.id" [selected]="_datasheet?.ipt_intervinient == u.id">{{u.full_name}}</option>
      </select>
    </div>
    <div class="form-group col-lg-6">
        <label for="proposal_date">Data da Informação da Proposta</label>
        <input type="date" class="form-control text-center" [readonly]="!_isEditing" [value]="_datasheet?.proposal_date|date:'yyyy-MM-dd'"  name="proposal_date" id="proposal_date">
      </div>
  </div>
  <div class="form-group row">
    <div class="form-group col-lg-6">
      <label for="client_intervinient">Cliente</label>
      <select name="client_intervinient" id="client_intervinient" class="form-control" [disabled]="!_isEditing">
          <option value="" selected disabled hidden>Contacto Eliminado</option>
          <option *ngFor="let contact of this._contacts" [value]="contact.id" [selected]="contact.id === _datasheet?.client_intervinient">{{contact.full_name}} | {{contact.phone}} | {{contact.email}}</option>    
      </select>
    </div>
    <div class="form-group col-lg-6">
        <label for="acceptation_date">Data da Aceitação da Proposta</label>
        <input type="date" class="form-control text-center" [readonly]="!_isEditing" [value]="_datasheet?.acceptation_date|date:'yyyy-MM-dd'"  name="acceptation_date" id="acceptation_date">
    </div>
  </div>
  <div class="form-group row">
      <div class="form-group col-lg-6">
        <button type="button" class="form-control btn btn-outline-success" [disabled]='!_isEditing' data-toggle="modal" data-target="#modal_contacts2">Adicionar contacto <i
        class="fa fa-file"></i></button>
      </div>
  </div>
      
</fieldset>

<!-- Modal -->
<div class="modal fade" id="modal_contacts2" tabindex="-1" role="dialog" aria-labelledby="modal_contacts__Title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form (submit)="addNewContact($event)">
          <div class="modal-header">
            <h5 class="modal-title" id="modal_contacts__Title">Adicionar contacto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div *ngIf='messageEditErrContact !== ""' class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>{{messageEditErrContact}}</strong>
                  <button type="button" class="close" aria-label="Close" (click)='messageEditErrContact=""'>
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <!--mensage de alerta acaba aqui-->
          
                <div *ngIf='messageEditSuccessContact !== ""' class="alert alert-success alert-dismissible fade show" role="alert">
                  <strong>{{messageEditSuccessContact}}</strong>
                  <button type="button" class="close" aria-label="Close" (click)='messageEditSuccessContact=""'>
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="row col-lg-12 form-group">
                  <label for="contact_name">Nome</label>
                  <input name="contact_name" id="contact_name" type="text" class="form-control" placeholder="Nome" />
                </div>
                <div class="row col-lg-12 form-group">
                  <label for="contact_email">Email</label>
                  <input name="contact_email" id="contact_email" type="email" class="form-control" placeholder="Email" />
                </div>
                <div class="row col-lg-12 form-group">
                  <label for="contact_address">Morada</label>
                  <input name="contact_address" id="contact_address" type="text" class="form-control" placeholder="Morada" />
                </div>
                <div class="row col-lg-12 form-group">
                  <label for="contact_phone">Telemóvel</label>
                  <input name="contact_phone" id="contact_phone" type="text" class="form-control" placeholder="Telemóvel" />
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Adiciona novo contacto</button>
          </div>
      </form>
    </div>
  </div>
</div>