<h5 class="mt-2 mb-4">
  Proposta de Intervenção
</h5>

<fieldset class="border p-2">
  <legend class="w-auto">Vontade expressa do Proprietário/Dono da Obra
  </legend>

  <div class="form-group">
    <label>Tipo de Intervenção:</label>
    <div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox"  [disabled]="!_isEditing" [checked]="_datasheet?.owner_preserve != '0'"  name="owner_preserve" id="owner_preserve">
        <label class="form-check-label" for="owner_preserve">Preservação</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox"  [disabled]="!_isEditing" [checked]="_datasheet?.owner_conserve  != '0'" name="owner_conserve" id="owner_conserve">
        <label class="form-check-label" for="owner_conserve">Conservação</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox"  [disabled]="!_isEditing"  [checked]="_datasheet?.owner_restaure  != '0'"  name="owner_restaure" id="owner_restaure">
        <label class="form-check-label" for="owner_restaure">Restauro</label>
      </div>
    </div>
  </div>

  <div class="form-group>">
    <div class="form-group row">
      <label for="support_deterioration" class="col-lg-2 col-form-label">Aspectos Específicos</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" [readonly]="!_isEditing" [value]="_datasheet?.specific_aspects"  name="specific_aspects" id="specific_aspects"></textarea>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="border p-2">
  <legend class="w-auto">Intervenção proposta pelo Conservador-Restaurador
  </legend>

  <div class="form-group">
    <label>Tipo de Intervenção:</label>
    <div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox"  [disabled]="!_isEditing" [checked]="_datasheet?.prop_preserve  != '0'"   name="prop_preserve" id="prop_preserve">
        <label class="form-check-label" for="prop_preserve">Preservação</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox"  [disabled]="!_isEditing" [checked]="_datasheet?.prop_conserve   != '0'"   name="prop_conserve" id="prop_conserve">
        <label class="form-check-label" for="prop_conserve">Conservação</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox"  [disabled]="!_isEditing" [checked]="_datasheet?.prop_restaure    != '0'"   name="prop_restaure" id="prop_restaure">
        <label class="form-check-label" for="prop_restaure">Restauro</label>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="border p-2">
  <legend class="w-auto">Proposta Metodológica de Intervenção</legend>

  <div class="row">
    <div class="form-group col-lg-7">
      <label for="support_proposal ">Estrutura</label>
      <textarea class="form-control"  rows="3" [readonly]="!_isEditing" [value]="_datasheet?.support_proposal"  name="support_proposal" id="support_proposal"></textarea>
    </div>
    <div class="form-group col-lg-5">
      <label for="support_resources">Recursos (Materiais | Técnicos | Tecnológicos)
      </label>
      <textarea class="form-control" rows="3" [readonly]="!_isEditing" [value]="_datasheet?.support_resources"  name="support_resources" id="support_resources"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-7">
      <label for="surface_proposal ">Superfície</label>
      <textarea class="form-control" rows="3" [readonly]="!_isEditing"[value]="_datasheet?.surface_proposal"  name="surface_proposal" id="surface_proposal"></textarea>
    </div>
    <div class="form-group col-lg-5">
      <label for="surface_resources ">Recursos (Materiais | Técnicos | Tecnológicos)
      </label>
      <textarea class="form-control"rows="3" [readonly]="!_isEditing" [value]="_datasheet?.surface_resources"  name="surface_resources" id="surface_resources"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-7">
      <label for="elements_proposal">Elementos Acessórios</label>
      <textarea class="form-control"rows="3" [readonly]="!_isEditing" [value]="_datasheet?.elements_proposal"  name="elements_proposal" id="elements_proposal"></textarea>
    </div>
    <div class="form-group col-lg-5">
      <label for="elements_resources">Recursos (Materiais | Técnicos | Tecnológicos)
      </label>
      <textarea class="form-control" rows="3" [readonly]="!_isEditing" [value]="_datasheet?.elements_resources"  name="elements_resources" id="elements_resources"></textarea>
    </div>
  </div>
</fieldset>
<br />
<div class="form-group row">
  <label for="observations" class="col-lg-2 col-form-label">Observações | Conclusões</label>
  <div class="col-lg-10">
    <textarea class="form-control" rows="3" [readonly]="!_isEditing" [value]="_datasheet?.observations"  name="observations" id="observations"></textarea>
  </div>
</div>

<form class="form-inline row">
  <div class="col-lg-6 ">
    <h6 class="text-center mb-2 mt-2">Interlocutores do Processo:</h6>
  </div>
</form>
<form class="form-inline row">
  <div class="form-group col-lg-6">
    <label for="ipt_intervenient" class="col-lg-4">I.P.T</label>
    <select id="ipt_intervenient" class="form-control col-lg-8" [disabled]="!_isEditing"></select>
  </div>
  <div class="form-group col-lg-6">
      <label for="proposal_date" class="col-lg-6">Data da Informação da Proposta</label>
      <input type="date" id="proposal_date" class="form-control col-lg-6 text-center" [readonly]="!_isEditing" [value]="_datasheet?.proposal_date"  name="proposal_date" id="proposal_date">
    </div>
</form>
<form class="form-inline row">
  <div class="form-group col-lg-6">
    <label for="client_intervenient" class="col-lg-4">Cliente</label>
    <select id="client_intervenient" class="form-control col-lg-8" [disabled]="!_isEditing"></select>
  </div>
  <div class="form-group col-lg-6">
      <label for="acceptation_date" class="col-lg-6">Data da Aceitação da Proposta</label>
      <input type="date" id="acceptation_date" class="form-control col-lg-6 text-center" [readonly]="!_isEditing" [value]="_datasheet?.acceptation_date"  name="acceptation_date" id="acceptation_date">
    </div>
</form>
<br />
